/* universal stylling starts here  */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* universal stylling ends here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
}

html{
    font-size: 75%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    height: 100vh;
    width: 98%;
}

h1{
    font-size: 3rem;
}


/* section{
    padding: 2rem 9%;
} */
/* universal stylling ends here  */

/* header section starts here */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* align-content: center; */
    padding: 1rem 3rem 1rem 3rem;
    background-color: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 2;
    /* margin-bottom: 5rem; */
}

.logo img{
    width: 10rem;
}

.logo img:hover{
    cursor: pointer;
}

.sign{
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.header nav a{
    margin: 2rem;
    color: black;
    text-decoration: none;
    /* background-color: darkorange;
    height: 3rem; */
}

.header nav a:hover{
    cursor: pointer;
    color: darkorange;
}

.sign{
    display: flex;
    /* margin: 1rem; */
    align-items: center;
    justify-content: space-between;
}

.sign .in{
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    margin-right: 2rem;
    border-style: solid;
    border-width: thin;
    border-color: deepskyblue;
    width: 5rem;
    height: 2rem;
}

.sign .in:hover{
    cursor: pointer;
}

.sign .up{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    background-color: darkorange;
    color: white;
    height: 2.2rem;
    width: 5rem;
    border-radius: 0.3rem;
}

.sign .up:hover{
    cursor: pointer;
}
/* header section ends here */


/* hero section starts here */
.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top:5rem; */
    padding: 3rem;
}

.col-left{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    margin-top: 5rem;
    /* align-items: center; */
    
}

.title{
    max-width: 80%;
    margin-bottom: 3rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.col-right{
    display: flex;
    position: absolute;
    /* max-width: 60%; */
    margin-top: 25rem;
    height: 30rem;
    width: 30rem;
    margin-left: 60rem;
}

/* .col-right img{
    height: 30rem;
    width: 40rem; 
    margin-right: 5rem;
    margin-bottom: -15rem;
} */
/* hero section ends here */

/* services section starts here */
.services{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    margin-top:20rem;
    padding: 3rem;
}

.service_title h1{
    display: flex;
    justify-content: center;
}


.works{
display: flex;
align-items: center;
justify-content: space-between;
}


.work{
    /* margin-right: 10rem; */
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 18%;
     /* box-shadow: 0 0 0.7rem rgba(8, 8, 8, 0.5); */
}

.work img{
    margin-left: -2.5rem;
}

.work h3{
    margin-bottom: 1rem;
}

.sign_up{
    display: flex;
    justify-content: center;
}


.sign_up p{
   background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem; 
}

.sign_up p:hover{
    cursor: pointer;
}

/* services section ends here */

/* validation section starts here */
.validation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top:5rem; */
    padding: 3rem;
}

.left_col{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    margin-top: 5rem;
    /* align-items: center; */
    
}

.left_col h3{
    margin-bottom: 0.5rem;
}

.description{
    max-width: 80%;
    margin-bottom: 0.5rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.col-right{
    display: flex;
    position: absolute;
    /* max-width: 60%; */
    margin-top: 25rem;
    height: 30rem;
    width: 30rem;
    margin-left: 70rem;
}
/* validation section endss here */

/* managers section starts here */
.managers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin-top:5rem; */
    padding: 3rem;
}

.left_col{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    margin-top: 5rem;
    /* align-items: center; */
    
}

.left_col h3{
    margin-bottom: 0.5rem;
}

.description{
    max-width: 80%;
    margin-bottom: 0.5rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.right_col{
    display: flex;
    /* position: absolute; */
    /* max-width: 60%; */
    margin-top: 20rem;
    height: 30rem;
    width: 30rem;
    /* margin-left: 60rem; */
}
/* managers section ends here */