/* universal stylling starts here  */

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Oxygen:wght@300;400;700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* universal stylling ends here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oxygen", sans-serif;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
}

html{
    font-size: 80%;
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
    height: 100vh;
    width: 98%;
}

h1{
    font-size: 3rem;
}


/* section{
    padding: 2rem 9%;
} */
/* universal stylling ends here  */

/* header section starts here */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    background-color:transparent;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 2;
   backdrop-filter: blur(1rem);
}

.logo img{
    width: 10rem;
}

.logo img:hover{
    cursor: pointer;
}

.sign{
    display: flex;
    /* text-align: center; */
    /* align-items: center; */
    /* justify-content: center; */
}

.header nav a{
    margin: 2rem;
    color: black;
    text-decoration: none;
    /* background-color: darkorange;
    height: 3rem; */
}

.header nav a:hover{
    cursor: pointer;
    color: darkorange;
}

.sign{
    display: flex;
    /* margin: 1rem; */
    align-items: center;
    justify-content: space-between;
}

.sign .in{
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
    margin-right: 2rem;
    border-style: solid;
    border-width: thin;
    border-color: deepskyblue;
    width: 5rem;
    height: 2rem;
}

.sign .in:hover{
    cursor: pointer;
}

.sign .up{
    display: flex;
    justify-content: center;
    padding-top: 0.5rem;
    background-color: darkorange;
    color: white;
    height: 2.2rem;
    width: 5rem;
    border-radius: 0.3rem;
}

.sign .up:hover{
    cursor: pointer;
}
/* header section ends here */


/* hero section starts here */
.hero-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem;
}

.col-left{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    margin-top: 5rem;
    /* align-items: center; */
    
}

.title{
    max-width: 90%;
    margin-bottom: 3rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.col-rights{
    display: flex;
    position: absolute;
    max-width: 60%;
    margin-top: 5rem;
    height: 30rem;
    width: 30rem;
    margin-left: 60rem;
}

/* .col-right img{
    height: 30rem;
    width: 40rem; 
    margin-right: 5rem;
    margin-bottom: -15rem;
} */
/* hero section ends here */

/* services section starts here */
.services{
    /* display: flex; */
    /* align-items: center; */
    justify-content: space-between;
    margin-top:15rem;
    padding: 3rem;
}

.service_title h1{
    display: flex;
    justify-content: center;
}


.works{
display: flex;
align-items: center;
justify-content: space-between;
}


.work{
    /* margin-right: 10rem; */
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 18%;
     /* box-shadow: 0 0 0.7rem rgba(8, 8, 8, 0.5); */
}

.work img{
    margin-left: -2.5rem;
}

.work h3{
    margin-bottom: 1rem;
}

.sign_up{
    display: flex;
    justify-content: center;
}


.sign_up p{
   background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem; 
}

.sign_up p:hover{
    cursor: pointer;
}
/* services section ends here */

/* validation section starts here */
.validation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-3rem;
    padding: 3rem;
}

.left_col{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    /* margin-top: 5rem; */
    /* align-items: center; */  
}

.left_col h3{
    margin-bottom: 0.5rem;
}

.description{
    max-width: 80%;
    margin-bottom: 0.5rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.col-right{
    display: flex;
    position: absolute;
    /* max-width: 60%; */
    margin-top: 25rem;
    height: 30rem;
    width: 30rem;
    margin-left: 70rem;
}
/* validation section endss here */

/* managers section starts here */
.managers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-2rem;
    padding: 3rem;
}

.left_col{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    margin-top: 5rem;
    /* align-items: center; */
    
}

/* .left_col h3{
    margin-bottom: 0.5rem;
} */

.description{
    max-width: 80%;
    margin-bottom: 0.5rem;
}

.our-work{
    display: flex;
    align-items: center;
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.our-work img{
    margin-right: 1rem;
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.right_col{
    display: flex;
    /* position: absolute; */
    /* max-width: 60%; */
    margin-top: 20rem;
    height: 30rem;
    width: 30rem;
    /* margin-left: 60rem; */
}
/* managers section ends here */

/* Marketers section starts here */
    .Marketers{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top:-3rem;
    padding: 3rem;
}

.left_col{
    display: flex;
    flex-direction: column;
    /* max-width: 60%; */
    /* position: relative; */
    /* margin-top: 5rem; */
    /* align-items: center; */  
}

.left_col h3{
    margin-bottom: 0.5rem;
}

.description{
    max-width: 80%;
    margin-bottom: 0.5rem;
}

.our-work{
    max-width: 90%;
    margin-bottom: 2rem;
    /* font-size: 1.5rem; */
}

.start{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.start p{
    margin-right: 3rem;
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 8rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem;
}

.start p:hover{
    cursor: pointer;
}

.watch-video{
    display: flex;
    align-items: center;
}

.watch-video img{
    height: 2rem;
    /* margin-right: 1rem; */
}

.watch-video img:hover{
    cursor: pointer;
}

.watch-video a{
 color: darkorange;
}

.col-right{
    display: flex;
    position: absolute;
    /* max-width: 60%; */
    margin-top: 25rem;
    height: 30rem;
    width: 30rem;
    margin-left: 70rem;
}
/* Marketers section ends here */

/* super_hero section starts here */
.super_hero{
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    margin-top:10rem;
    padding: 3rem;
}

.service_title h1{
    display: flex;
    justify-content: center;
}

.service_title p{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.sign_up{
    display: flex;
    justify-content: center;
}


.sign_up p{
   background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 11.5rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem; 
}

.sign_up p:hover{
    cursor: pointer;
}
/* super_hero section ends here */

/* marketing section starts here */
    .marketing_strategy{
        align-items: center;
        padding: 3rem;
        margin-bottom: 1rem;
    }

    .marketing_strategy h1{
        margin-bottom: 1rem;
    }

    .marketing_strategy p{
        margin-bottom: 2rem;
    }

    .strategies{
        display: flex;
        align-items: center;
        justify-content: space-between;
        /* margin-bottom: 2rem; */
    }

    .strategy img{
        margin-bottom: 1rem;
    }

    span{
        color: black;
        font-size: 1.5rem;
    }


/* marketing section ends here */

/* contact section starts here */
.contact{
    align-items: center;
    padding: 3rem;
    /* margin-bottom: 1rem; */
    width: 80%;
}

.option{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.option a{
    text-decoration: none;
    margin-bottom: 1rem;
    color: black;
} 

.quick-links{
    display: flex;
    flex-direction: column;
}

.quick-links h3{
    margin-bottom: 2rem;
}

.quick-links form{
     margin-bottom: 1rem;
   
}

.quick-links form input{
      padding: 1rem;
}

.quick-links form input:hover{
    cursor: pointer;
}

.quick-links p{
    background-color: darkorange;
    color: white;
    border-radius: 0.3rem;
    height: 3rem;
    width: 9rem;
    padding-left: 1.5rem;
    padding-top: 0.9rem; 
}

.quick-links p:hover{
    cursor: pointer;
}
/* contact section ends here */

.footer{
    align-items: center;
    padding: 3rem;
    /* margin-bottom: 5rem; */
}

.footer-container{
    display: flex;
    justify-content: space-between;
    width: 70%;
    /* margin-right: 20rem; */
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 480px
*/
@media (min-width: 320px) and (max-width: 480px) {
    h1{
        font-size: 2rem;
    }

    /* .header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem 1rem 3rem;
    background-color:transparent;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
    z-index: 2;
   backdrop-filter: blur(1rem);
    } */

    .header{
        max-width: 25.5%;
        padding: 1rem;
    }

    .header nav a{
        display: none;
    }

    .sign{
        display: none;
    }

    .hero-container{
        padding: 1rem;
        flex-direction: column;
        justify-content: center;
    }


    .title{
    max-width: 100%;
    /* margin-bottom: 3rem; */
    }

    .our-work{
       max-width: 100% 
    }

    .start{
        flex-direction: column;

    }

    .start p{
        margin-bottom: 1rem;
    }

    .watch-video{
        margin-left: -2.5rem;
    }

    .col-rights{
        position: absolute;
        max-width: 50%;
        margin-top: 43rem;
        height: 40%;
        width: 40%;
        margin-left: 1rem;
    }
}